body{
    margin: 0px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: #1A132F;
    }
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #A2D2FF;
    border-width: 5px;
    width: 10%;
}

h1{
    color: #42C2FF;
    font-size: 4rem;
    margin: 50 auto 0 auto;
    font-family: 'Montserrat', sans-serif;
}
h2{
    color: #42C2FF;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif
}
h3{
    color:#1C6DD0;
 }
p{

}
.bottom-cloud{
    position: absolute;
}
.top-cloud{
    position: relative;
    left: 200px;

}
.top-container{
    background-color: #EFFFFD;
    padding-top: 50px;
}
.middle-container{
    line-height: 1.7em;
    background-color:#EFFFF;
}
.bottom-container{
    padding-top:20px;
    padding-bottom: 30px;
    background-color: #42C2FF;
    color: white;
}
.my-profile{
    height:100px;
}
.computer{
    float: left;
    margin-right: 20px;
    height:100px;
}
.telecom{
    float: right;
    margin-right: 20px;
    height:100px;
}
.profile{
    background-color: #EDE6D;
}
.skills{
    background-color: #FEFBE;
}
.skill-row{
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 1;
    width: 50%
}
.contact-me{
    width: 50%;
    margin: 0 auto 50px auto;
}
.smile{
    padding-right: 20px;
    float: left;
    height:100px;
}
.Comportements{
    margin: 0 auto 0 auto;
    width: 50%;
    text-align: left;
    line-height: 1;
}
.defauts img{
    float: right;
    height: 100px;
}
.defauts{
    width: 50%;
    margin:50px auto 50px auto;
    text-align: left;
    line-height: 1;
}
.btn {
  background: #158eeb;
  background-image: -webkit-linear-gradient(top, #158eeb, #7ecae6);
  background-image: -moz-linear-gradient(top, #158eeb, #7ecae6);
  background-image: -ms-linear-gradient(top, #158eeb, #7ecae6);
  background-image: -o-linear-gradient(top, #158eeb, #7ecae6);
  background-image: linear-gradient(to bottom, #158eeb, #7ecae6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0eace6;
  background-image: -webkit-linear-gradient(top, #0eace6, #7ad0e6);
  background-image: -moz-linear-gradient(top, #0eace6, #7ad0e6);
  background-image: -ms-linear-gradient(top, #0eace6, #7ad0e6);
  background-image: -o-linear-gradient(top, #0eace6, #7ad0e6);
  background-image: linear-gradient(to bottom, #0eace6, #7ad0e6);
  text-decoration: none;
}
.footer-link{
    font-weight: bold;
    padding: 20px;
    color:#30AADD;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
.footer-link:hover{
    color:#E8F9FD;
}
.copyright{
    font-size: 0.70em;
    padding: 20px 0;
}